@import "tailwindcss";

@theme {
    --color-dark: #37464Dff;
    --color-light: #F5F1E8ff;
    --color-yellow-300: #F5CB3Bff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Quicksand', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:disabled {
    cursor: not-allowed;
}

.error {
    color: #dd2318;
    font-weight: 500;
}
