# fly.toml app configuration file generated for ito-web on 2025-11-10T20:22:43-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "ito-web"
primary_region = "gru"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "512mb"
